{
    "arrowParens": "always",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "semi": false,
    "printWidth": 120,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.js",
    "organizeImportsSkipDestructiveCodeActions": false
}
